doctype html
html
	head
		link(rel='stylesheet' type='text/css' href='/static/styles/css/build/index.css')
		title Topoo Novelty
	body
		header
			figure
				img(class='logo' alt='company logo')
		main
			section(class='catalog')
				.search-bar
		footer
