doctype html
html
	head
		link(rel='stylesheet' type='text/css' href='../../static/styles/css/build/index.css')
		title Topoo Novelty
	body
		header
			figure
				img(src='../../static/img/logo.png' alt='company logo').logo
		main
			section.catalog
				nav.nav-bar
					ul
						li
							a(href='#') Water Pipes
						li
							a(href='#') Bubblers
						li
							a(href='#') Hookahs
						li
							a(href='#') Pipes
						li
							a(href='#') Vaporizers
						li
							a(href='#') Accessories

					.search-bar
						input(type='text' placeholder='Search').search-filter
				.products-container
					.category(data-category='category-x')
						.title Category-X
						.products
							.item
								.sku WP-Algo
								.price 10.00
								figure
									img.product-image(src='http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png' alt='bong-image')
								p.description This is some description This is some description
							.item
								.sku WP-Algo-1
								.price 120.00
								figure
									img.product-image(src='http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png' alt='bong-image')
								p.description This is some description This is some description
							.item
								.sku WP-Algo-3
								.price 10.00
								figure
									img.product-image(src='http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png' alt='bong-image')
								p.description This is some description
							.item
								.sku WP-Algo
								.price 10.00
								figure
									img.product-image(src='http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png' alt='bong-image')
								p.description This is some description
							.item
								.sku WP-Algo-1
								.price 120.00
								figure
									img.product-image(src='http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png' alt='bong-image')
								p.description This is some description
							.item
								.sku WP-Algo-3
								.price 10.00
								figure
									img.product-image(src='http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png' alt='bong-image')
								p.description This is some description
							.item
								.sku WP-Algo
								.price 10.00
								figure
									img.product-image(src='http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png' alt='bong-image')
								p.description This is some description
							.item
								.sku WP-Algo-1
								.price 120.00
								figure
									img.product-image(src='http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png' alt='bong-image')
								p.description This is some description
							.item
								.sku WP-Algo-3
								.price 10.00
								figure
									img.product-image(src='http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png' alt='bong-image')
								p.description This is some description
					.category(data-category='category-y')
						.title Category-Y
						.products
							.item
								.sku WP-Algo-4
								.price 10.00
								figure
									img.product-image(src='http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png' alt='bong-image')
								p.description This is some description
							.item
								.sku WP-Algo-algo
								.price 10.00
								figure
									img.product-image(src='http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png' alt='bong-image')
								p.description This is some description
							.item
								.sku WP-Algo-7
								.price 10.00
								figure
									img.product-image(src='http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png' alt='bong-image')
								p.description This is some description
							.item
								.sku WP-Algo
								.price 10.00
								figure
									img.product-image(src='http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png' alt='bong-image')
								p.description This is some description
							.item
								.sku WP-Algo-1
								.price 120.00
								figure
									img.product-image(src='http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png' alt='bong-image')
								p.description This is some description
							.item
								.sku WP-Algo-3
								.price 10.00
								figure
									img.product-image(src='http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png' alt='bong-image')
								p.description This is some description
						//- sku, img, desc, price ->stub:select or add input qty
		footer
