doctype html
html
	head
		link(rel='stylesheet' type='text/css' href='/static/styles/css/main.css')
		title Topoo Novelty
	body
		//- testing purposes
		//- figure
		//- 	img(src='/static/img/'+pics[0])
		//- 	figcaption Picture
		for pic in pics
			figure
				img(src='/static/img/'+pic)
				figcaption pictureg