doctype html
html
	head
		link(rel='stylesheet' type='text/css' href='/static/styles/css/index.css')
		title Topoo Novelty
	body
		//- testing purposes
		//- figure
		//- 	img(src='/static/img/'+pics[0])
		//- 	figcaption Picture
		for pic in pics
			figure
				img(src='/static/img/'+pic)
				figcaption pictureg
		//- unless !test
			script(src="/localhost:35729/livereload.js")