$background-color : #cecece;

@mixin hw($height : inherit, $width : inherit){
	height : $height;
	width : $width;
}

body {
	padding: 0;
	background : $background-color;
	

	main {
		.catalog{
			@include hw(100px, 100px);

		}
	}
}
//la TUYA CONIO
