@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

$background-color : #cecece;

@mixin hw($height : inherit, $width : inherit){
	height : $height;
	width : $width;
}

img{
	@include hw(100px,100px);
}

body {
	user-select : none;
	// padding: 2%;
	margin : 0;
	background : $background-color;
	// @include hw($width : 90%);

	main {
		font-family : 'Julius Sans One', 'Sans Serif';
		margin : 0 auto; // Check later
		.catalog{
			margin : 0 auto;
			padding: 2%;
			// border : 1px solid gray;
			background: #d3d3d3;
			@include hw($width:90%);
			.search-bar{
				// Code something in here later...
			}
			.products-container{
				@include hw($width:100%);
				.title {
					// text-shadow: 0px 0px 0px rgba(0,0,0,0.6);
					font-size : 1.4em;
					font-weight: bold;
					@include hw($width : 95%);
					margin : 40px auto 20px;
					border-bottom : 2px solid #555;
					padding : 10px;
				}
				.products {
					@include hw($width:90%);
					// background : green;
					margin : 0 auto;
					text-align : center;
					.item {
						padding : 20px;
						margin : 4px;
						display : inline-block;
						background : #bbb;
						box-shadow : 0px 2px 4px rgba(0,0,0,0.5);
						transition : box-shadow 0.4s linear;
						-webkit-transition : box-shadow 0.4s linear;
					  &:hover{
							box-shadow : 0px 2px 4px 1px rgba(0,0,0,0.6);
						}
						@include hw(250px,200px);
						@media screen and (max-width: 620px ){
							@include hw(350px, 260px);
							margin : 10px auto;
						}
						.sku {
							float : left;
							font-weight : 600;
							// text-shadow: 0px 1px 1px rgba(0,0,0,1);
						}
						.price {
							float : right;
						}
						figure{
							//box-shadow : 0 4px 10px 10px rgba(0,0,0,0.5);
							// @media screen and (max-width: 620px ){
							// 	@include hw(100px,100px);
							// 	// margin : 10px auto;
							// }
							margin : 20px 0;
							background : red;
							.product-image {
								@include hw($width:90%);
							}
							@media screen and (max-width: 620px ){
								margin : 30px 0px 10px;
							}
						}
						.description {
							float:left;
							// text-wrap : break-word;
							font-size : 8pt;
							text-align: left;
							margin:5px;
						}
					}
				}
			}
		}
	}
}
