<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../static/styles/css/build/index.css">
    <title>Topoo Novelty</title>
  </head>
  <body>
    <header>
      <figure><img class="logo" alt="company logo"></figure>
    </header>
    <main>
      <section class="catalog">
        <div class="search-bar"></div>
        <div class="products-container">
          <div class="category" data-category="category-x">
            <div class="title"></div>
            <div class="products">
              <div class="item">
                <div class="sku">WP-Algo</div>
                <div class="price">10.00</div>
                <figure><img class="product-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Blank_woman_placeholder.svg/2000px-Blank_woman_placeholder.svg.png"></figure>
                <p class="description"></p>
              </div>
              <div class="item">
                <div class="sku">WP-Algo-1</div>
                <div class="price">120.00</div>
                <figure><img class="product-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Blank_woman_placeholder.svg/2000px-Blank_woman_placeholder.svg.png"></figure>
                <p class="description"></p>
              </div>
              <div class="item">
                <div class="sku">WP-Algo-3</div>
                <div class="price">10.00</div>
                <figure><img class="product-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Blank_woman_placeholder.svg/2000px-Blank_woman_placeholder.svg.png"></figure>
                <p class="description"></p>
              </div>
            </div>
          </div>
          <div class="category" data-category="category-y">
            <div class="title"></div>
            <div class="products">
              <div class="item">
                <div class="sku">WP-Algo-4</div>
                <div class="price">10.00</div>
                <figure><img class="product-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Blank_woman_placeholder.svg/2000px-Blank_woman_placeholder.svg.png"></figure>
                <p class="description"></p>
              </div>
              <div class="item">
                <div class="sku">WP-Algo-algo</div>
                <div class="price">10.00</div>
                <figure><img class="product-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Blank_woman_placeholder.svg/2000px-Blank_woman_placeholder.svg.png"></figure>
                <p class="description"></p>
              </div>
              <div class="item">
                <div class="sku">WP-Algo-7</div>
                <div class="price">10.00</div>
                <figure><img class="product-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Blank_woman_placeholder.svg/2000px-Blank_woman_placeholder.svg.png"></figure>
                <p class="description"></p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>