<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../static/styles/css/build/index.css">
    <title>Topoo Novelty</title>
  </head>
  <body>
    <header>
      <figure><img class="logo" alt="company logo"></figure>
    </header>
    <main>
      <section class="catalog">
        <div class="search-bar"></div>
        <div class="products-container">
          <div class="category" data-category="category-x">
            <div class="title">Category-X</div>
            <div class="products">
              <div class="item">
                <div class="sku">WP-Algo</div>
                <div class="price">10.00</div>
                <figure><img class="product-image" src="http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png" alt="bong-image"></figure>
                <p class="description">This is some description This is some description</p>
              </div>
              <div class="item">
                <div class="sku">WP-Algo-1</div>
                <div class="price">120.00</div>
                <figure><img class="product-image" src="http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png" alt="bong-image"></figure>
                <p class="description">This is some description This is some description</p>
              </div>
              <div class="item">
                <div class="sku">WP-Algo-3</div>
                <div class="price">10.00</div>
                <figure><img class="product-image" src="http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png" alt="bong-image"></figure>
                <p class="description">This is some description</p>
              </div>
              <div class="item">
                <div class="sku">WP-Algo</div>
                <div class="price">10.00</div>
                <figure><img class="product-image" src="http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png" alt="bong-image"></figure>
                <p class="description">This is some description</p>
              </div>
              <div class="item">
                <div class="sku">WP-Algo-1</div>
                <div class="price">120.00</div>
                <figure><img class="product-image" src="http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png" alt="bong-image"></figure>
                <p class="description">This is some description</p>
              </div>
              <div class="item">
                <div class="sku">WP-Algo-3</div>
                <div class="price">10.00</div>
                <figure><img class="product-image" src="http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png" alt="bong-image"></figure>
                <p class="description">This is some description</p>
              </div>
              <div class="item">
                <div class="sku">WP-Algo</div>
                <div class="price">10.00</div>
                <figure><img class="product-image" src="http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png" alt="bong-image"></figure>
                <p class="description">This is some description</p>
              </div>
              <div class="item">
                <div class="sku">WP-Algo-1</div>
                <div class="price">120.00</div>
                <figure><img class="product-image" src="http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png" alt="bong-image"></figure>
                <p class="description">This is some description</p>
              </div>
              <div class="item">
                <div class="sku">WP-Algo-3</div>
                <div class="price">10.00</div>
                <figure><img class="product-image" src="http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png" alt="bong-image"></figure>
                <p class="description">This is some description</p>
              </div>
            </div>
          </div>
          <div class="category" data-category="category-y">
            <div class="title">Category-Y</div>
            <div class="products">
              <div class="item">
                <div class="sku">WP-Algo-4</div>
                <div class="price">10.00</div>
                <figure><img class="product-image" src="http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png" alt="bong-image"></figure>
                <p class="description">This is some description</p>
              </div>
              <div class="item">
                <div class="sku">WP-Algo-algo</div>
                <div class="price">10.00</div>
                <figure><img class="product-image" src="http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png" alt="bong-image"></figure>
                <p class="description">This is some description</p>
              </div>
              <div class="item">
                <div class="sku">WP-Algo-7</div>
                <div class="price">10.00</div>
                <figure><img class="product-image" src="http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png" alt="bong-image"></figure>
                <p class="description">This is some description</p>
              </div>
              <div class="item">
                <div class="sku">WP-Algo</div>
                <div class="price">10.00</div>
                <figure><img class="product-image" src="http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png" alt="bong-image"></figure>
                <p class="description">This is some description</p>
              </div>
              <div class="item">
                <div class="sku">WP-Algo-1</div>
                <div class="price">120.00</div>
                <figure><img class="product-image" src="http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png" alt="bong-image"></figure>
                <p class="description">This is some description</p>
              </div>
              <div class="item">
                <div class="sku">WP-Algo-3</div>
                <div class="price">10.00</div>
                <figure><img class="product-image" src="http://www.wpclipart.com/recreation/smoke/smoking/bong_T.png" alt="bong-image"></figure>
                <p class="description">This is some description</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>